/* 23. hàm calc()
- Là một hàm trong CSS cho phép thực hiện các phép tính đơn giản như +,*, /
- Có thể sử dụng với tất cả các thuộc tính CSS về kích thước như là 
width, height, margin, padding, top, left, background-position ... */

/* Chú ý :
1. Sau calc không được có khoảng trắng
2. Khi dùng với toán tử +, - thì bắt buộc phải có khoảng trắng trước và sau toán tử +, -
3. Toán tử *,/

Với * thì: Viết đơn vị trước hay sau đều được
Với / thì:
1. Phần có đơn vị bắt buộc viết trước
2. Không chia cho 0 */

.nav {
  height: 100px;
  background-color: #ccc;
  /* Khoảng trước và sau luôn cố định = 50px vì 100/2 2 bên */
  /* width: calc(100% - 100px); */
  /* width: calc(2 * 200px ); */
  width: calc(500px / 2);
  margin: 0 auto;
}

.main_content {
  background-color: blue;
  /* Không sử dụng 100% trong tình huống này */
  height: calc(100vh - 100px);
}
