/* Viết cái này để so sánh với cái dưới */
/* p:first-child {
  color: red;
  font-size: 30px;
} */

/* 1. Chọn các thẻ ... xuất hiện đầu tiên trong thẻ cha */
/* p:first-of-type {
  color: blue;
  font-size: 30px;
} */

/* 2. Chọn các thẻ ... xuất hiện cuối cùng trong thẻ cha */
/* h2:last-of-type {
  color: pink;
  font-size: 40px;
} */

/* 3. Chọn các thẻ ... xuất hiện thứ n trong thẻ cha từ trên xuống */
/* p:nth-of-type(odd) {
  color: red;
  font-size: 30px;
} */

/* So sánh: */
/* p:nth-child(3) {
  color: blue;
  font-size: 30px;
} */

/* 4. Chọn các thẻ ... xuất hiện duy nhất trong thẻ cha */
p:only-of-type {
  color: blue;
  font-size: 40px;
}

/* Không học tự thêm */
/* 5. Chọn các thẻ ... xuất hiện thứ n trong thẻ cha từ dưới lên */
/* p:nth-last-of-type(odd){
  color: aqua;
} */
