/* Flexbox: Flex-Container
3.1 flexbox Justify-content
Theo mặc định, trục main axis sẽ nằm ngang, còn trục cross axis sẽ nằm dọc
Justify-content sẽ căn các phần tử theo trục main axis -> Phần sau sẽ có xoay trục */

/* flex-start: default
flex-end
center
space-between: cách đều nhau,sát lề
space-around: Khoảng trắng xung quanh mỗi phần tử là = nhau
space-evenly: cách đều nhau, Cách cả lề */

body{
  margin: 0;
}

*{
  font-size: 1.5rem;
}

.container{
  display: flex;
  /* justify-content: flex-start; */
  /* justify-content: end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  justify-content: space-evenly;
  background-color: cyan;
}

.box{
  background-color: blue;
}