/* 1. Animation
- Animation tạo ra các hoạt cảnh mà không cần tác động vào phần tử
- Transition: Tạo ra chuyển động khi tương tác với phần tử: hover, active, ...
- CSS Keyframes là cách tạo các bước cụ thể của animation, từ điểm xuất phát đến điểm kết thúc. */

.box {
  height: 200px;
  width: 200px;
  background: red;
  color: yellow;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin_element 3s linear 1s infinite alternate-reverse;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation-name: spin_element;
  animation-duration: 5s;
  animation-timing-function: linear; */
}

@keyframes spin_element {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

/* box2 */

.box2 {
  height: 200px;
  width: 200px;
  background: red;
  color: yellow;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move 3s 2s;
  /* dừng lại ở keyframe cuối cùng */
  /* animation-fill-mode: forwards; */

  /* ngay tại thời điểm xuất hiện thì ở keyframe đầu tiên */
  /* animation-fill-mode: backwards; */

  /* Kết hợp cả 2 cái trên */
  /* animation-fill-mode: both; */
}

@keyframes move {
  from {
    transform: translateX(100x);
  }
  to {
    transform: translateX(300px);
  }
}

/* box3 */
.box3 {
  height: 100px;
  width: 100px;
  background: red;
  color: yellow;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move-box3 1s infinite;
}

@keyframes move-box3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100px, 0);
  }
  50% {
    transform: translate(-100px, -100px);
  }
  75% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}
