/* 14. Clip-path:
- Tạo 1 vùng cắt, nội dung trong vùng cắt sẽ được hiển thị
- Nội dung ngoài vùng cắt sẽ bị ẩn đi
circle: cắt hình tròn
inset: cắt hình chữ nhật
polygon(): cắt hình đa giác */

/* 2.2. inset(): HCN -> Cắt theo từng cạnh : 2, 3, 4 đối số giống thuộc tính padding or margin */
/* 2.4. Thêm bo góc khai báo sau keyword round */

/* 3.1. polygon, củ pháp chung: cặp x, y là các cặp toa độ các góc theo x, y
clip-path: polygon(x y, x y, x y, x y); */

.box {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: url(./bg/ava.png) center / cover;
  /* Mặc định tâm đường tròn trùng tâm bức ảnh */
  /* clip-path: circle(50%); */
  /* clip-path: circle(100px); */

  /* Dịch tâm đường tròn theo x, y */
  /* clip-path: circle(50% at 40% 70%); */
  clip-path: inset(20px);
  clip-path: inset(20px 50px);
  clip-path: inset(20px 50px 80px);
  clip-path: inset(20px 50px 80px 30px);

  clip-path: inset(20px round 15px 50px 80px 15px);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
  border-radius: 15px;
}

/* 
  Tính toán bán kính của hình tròn:
  radius = (50% * max(width, height))
  Xác định giá trị của max(width, height)
  từ kích thước đã cho. Trong trường hợp này,
  .box có width: 200px và height: 500px,
  vì vậy max(width, height) = 500px.
  Tiến hành tính toán bán kính của hành tròn:
  radius = (50% * 500px) = 250px
  Vậy, trong trường hợp này,
  giá trị 50% tương ứng với 250px. 
  */
