/* browser font size default: thông thường là 16px */

/* 1. Thẻ cha và con không có font size
--> Lấy theo font-size root(HTML) : 16px */

/* 2em : Kích thước gấp 2 lần font chữ hiện tại (có kế thừa) */

/* 2.Thẻ cha có font-size tuyệt đối */

/* 3. Cả thẻ cha và con đều đặt font-size 
-> ưu tiên font-size hiện tại của chính nó */

/* 4. Thẻ cha có font-size tương đối
-> Thẻ cha sẽ lấy kích thước mặc định từ trình duyệt( thẻ html gốc 16px )
-> Thẻ con tiếp tục kế thừa từ thẻ cha */

/* Tóm lại:
->Ưu tiên 1: font-size chính phần tử đó
->Ưu tiên 2: phụ thuộc vào font-size thẻ cha
->Ưu tiên 3: Phụ thuộc font-size root (thẻ gốc HTML)
Do có tính kế thừa, nên khi dùng cần chú ý, các thẻ con sẽ xếp tầng và kế thừa từ thẻ cha */


/* 
.child {
  width: 10em;
  height: 10em;
  background-color: violet;
}

.parent {
  font-size: 2em;
} */

.parent{
  font-size: 10px;

}

.child{
  /* 10px -> 2*10 = 20px  */
  /* 20px -> 20*2 = 40px */
  /* 40px -> 40*2 = 80px */
  
  font-size: 2em;
  width: 2em;
  height: 2em;
  background-color: violet;
}