/* 3.5 flex-direction: row | row-reverse : xoay hướng trục main axis cross axis 0 đổi */
/* row: default 
row-reverse : trục main sẽ là phải qua trái
*/

/* flex-direction: column | column-reverse main axis theo chieu dọc - cột (column )
+ cross axis bị đẩy sang theo chiều ngang */

/* column: trục thẳng là main axis hướng trên xuống, cross thành trục ngang
column-reverse: trục thẳng là main axis hướng dưới lên, cross thành trục ngang */


.box{
  background-color: blue;
  border: 1px solid black;
}

.container{
  height: 200px;
  display: flex;
  background-color: cyan;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* align-items: center; */

  flex-direction: column-reverse;
  /* flex-direction: column; */
  justify-content: flex-end;
  /* align-items: stretch; */
  align-items: flex-start;

}